# Files
**/*.config.*
!**/default.config.*

**/*.env
**/*.env.*
!**/*.env.example

**/*.lock
**/*.lock.*
**/*-lock.json

**/*.log
**/.log.*

**/*.whl
**/*.whl.*

**/*.zip
**/*.zip.*

# Folders
**/__pycache__/
**/__sapper__/
**/.DS_STORE/
**/.docker/data/
**/.idea/
**/.svlete-kit/
**/.vscode/
**/debug/
**/node_modules/
**/target/
**/venv/