name: Rust

env:
  CARGO_TERM_COLOR: always

on:
  pull_request:
    branches: [ "main", "master", "prod" ]
    tags: [ "prod-*", "v*.*.*" ]
  push:
    branches: [ "main", "master", "prod" ]
    tags: [ "prod-*", "v*.*.*" ]
  schedule:
    - cron: "30 9 * * *"
  workflow_dispatch:
    inputs:
      publish:
        default: true
        description: 'Publish'
        required: true
        type: boolean

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
          - nightly
    steps:
      - uses: actions/checkout@v3
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: cargo build --release -v --workspace
      - run: cargo test --all --all-features --release -v
  features:
    if: ${{ github.event.inputs.publish }}
    name: Publish
    needs: [ build ]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package:
          - acme-compilers
          - acme-conduits
          - acme-core
          - acme-derive
          - acme-macros
          - acme-net
          - acme-pipelines
    steps:
      - uses: actions/checkout@v3
      - name: Publish (${{matrix.package}})
        run: cargo publish --all-features -v -p ${{ matrix.package }} --token ${{ secrets.CARGO_REGISTRY_TOKEN }}
  publish:
    if: ${{ github.event.inputs.publish }}
    name: Publish
    needs: features
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Publish (acme)
        run: cargo publish --all-features -v -p acme --token ${{ secrets.CARGO_REGISTRY_TOKEN }}